<!-- Sidebar -->
<div class="sidebar show" id="sidebar"> <!-- Add the "show" class here -->
    <h3 class="text-center"><strong>Employee Dashboard</strong></h3>
    <a href="/employee/empdashboard" class="sidebar-link"><i class="fas fa-tachometer-alt"></i>Overview</a>
    <a href="/employee/empproduct" class="sidebar-link"><i class="fas fa-box"></i>   Inventory</a>
    <a href="/employee/empsales" class="sidebar-link"><i class="fas fa-shopping-cart"></i> Sales</a>

    <div class="logout">
        <!-- Divider Line -->
        <hr>
        <button class="btn btn-danger w-100 btn-sm" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <i class="fas fa-sign-out-alt" id="logoutbtn"></i> Logout
        </button>
    </div>
</div>