<!-- Sidebar -->
<div class="sidebar show" id="sidebar"> <!-- Add the "show" class here -->
    <h class="text-center"><strong>Admin Dashboard</strong></h3>
    <a href="/admin/dashboard" class="sidebar-link"><i class="fas fa-tachometer-alt"></i>Overview</a>
    <a href="/admin/categories" class="sidebar-link"><i class="fas fa-tags"></i> Categories</a>
    <a href="/products" class="sidebar-link"><i class="fas fa-box"></i>   Inventory</a>
    <a href="/admin/sales" class="sidebar-link"><i class="fas fa-shopping-cart"></i> Sales</a>
    <a href="/admin/employee" class="sidebar-link"><i class="fas fa-users"></i> Users</a>
    <!-- New Link for Categories -->


    <div class="logout">
        <!-- Divider Line -->
        <hr>
        <button class="btn btn-danger w-100 btn-sm" data-bs-toggle="modal" data-bs-target="#logoutModal">
            <i class="fas fa-sign-out-alt" id="logoutbtn"></i> Logout
        </button>
    </div>
</div>